#### Creating Dataset

In [1]:
import pandas as pd
import numpy as np
import spacy 
import requests

In [2]:
# import requests
# import json

# def pages(start_page=1,end_page=471):
#     for page in range(start_page,end_page+1):
#       api_url=f"https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={page}"
        
#       res=requests.get(api_url)
#       if res.status_code==200:
#          df=res.json()
#          movies=df['results'] 
      

#          normalized_data = pd.json_normalize(movies)

#          return type(normalized_data)
#       else:
#          return None
# pages()

In [3]:
all_movies=[]
for page in range(1,471+1):
    api_url=f"https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={page}"
    
    res=requests.get(api_url)
    if res.status_code==200:
        df=res.json()
        movies=df['results'] 
      

        normalized_data = pd.json_normalize(movies)
        all_movies.append(normalized_data)
    else:
        print("Error")
final_movies = pd.concat(all_movies, ignore_index=True)

In [4]:
final_movies.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
9415,False,/pYr7HL3peZQZRaAYqwWT6Ax4DAx.jpg,"[27, 9648, 53]",241257,en,Regression,"Minnesota, 1990. Detective Bruce Kenner invest...",3.0769,/luHpMTmU1ygtEgdOTSSj0i9nd8E.jpg,2015-10-01,Regression,False,5.600,1828
9416,False,/zE5j0lQ5dVqSbKLMi3JwrjcT055.jpg,[35],219318,fr,Eyjafjallajökull,The eruption of the Icelandic volcano Eyjafjal...,2.9848,/zszXmplKgcZ6WILGxZ1Jax8Ck72.jpg,2013-10-02,The Volcano,False,5.587,662
9417,False,/rMrtoZfd0B0jDc1IW6r7MHELAtt.jpg,"[35, 18, 10749]",174321,en,The English Teacher,Small-town Pennsylvania schoolteacher Linda Si...,2.5969,/mF14chZNzgDRZffs8Wk8lPwdNQA.jpg,2013-05-16,The English Teacher,False,5.600,364
9418,False,/6qQZ54iVgQWOFaVWss77yHy8YHu.jpg,"[35, 878, 10402, 10749]",2210,en,Earth Girls Are Easy,"In this musical comedy, Valerie is dealing wit...",3.7793,/pO9Edq8mgp9kD3N6EkCGYLnIVaA.jpg,1988-09-08,Earth Girls Are Easy,False,5.588,390
9419,False,/fIOqJeHs4iHUCwSap7wIvgRCwDl.jpg,"[27, 53]",300665,en,Leatherface,A young nurse is kidnapped by a group of viole...,11.1482,/nV7LPlyhUxKn5y0nuItCr8D1OSu.jpg,2017-09-14,Leatherface,False,5.586,1372

In [5]:
final_movies['genre_ids']=final_movies['genre_ids'].astype(str)

In [6]:
len(final_movies['title'].unique())

9002

In [7]:
9419-8827

592

#### Reading data and Manipulating Data Source

In [8]:
movies=final_movies[['title','overview','genre_ids']]

In [9]:
movies

,title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]
...,...,...,...
9415,Regression,"Minnesota, 1990. Detective Bruce Kenner invest...","[27, 9648, 53]"
9416,The Volcano,The eruption of the Icelandic volcano Eyjafjal...,[35]
9417,The English Teacher,Small-town Pennsylvania schoolteacher Linda Si...,"[35, 18, 10749]"
9418,Earth Girls Are Easy,"In this musical comedy, Valerie is dealing wit...","[35, 878, 10402, 10749]"
9419,Leatherface,A young nurse is kidnapped by a group of viole...,"[27, 53]"

#### Making it Sync with the genre id number

In [10]:
genre_id_url="https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"

In [11]:
res=requests.get(genre_id_url)
if res.status_code==200:
    df=res.json()
    genre_id=df['genres']

data=pd.json_normalize(genre_id)

data.head()

   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy
4  80      Crime

In [12]:
len(movies)

9420

In [13]:
genre_map=dict(zip(data['id'],data['name']))

In [14]:
genre_map

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [15]:
movies.head()

,title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]

In [16]:

import ast
movies['genre_ids'] = movies['genre_ids'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\2206926343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genre_ids'] = movies['genre_ids'].apply(

In [17]:
movies['genre_ids'] = movies['genre_ids'].apply(
    lambda x: [int(i) for i in x] if isinstance(x, list) else []
)

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\984767633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genre_ids'] = movies['genre_ids'].apply(

In [18]:
movies['genre_names'] = movies['genre_ids'].apply(
    lambda ids: [genre_map.get(i, "Unknown") for i in ids]
)

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\4012012778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genre_names'] = movies['genre_ids'].apply(

In [19]:
movies['genre_names'] = movies['genre_names'].apply(lambda x: ', '.join(x))

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\3480124436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genre_names'] = movies['genre_names'].apply(lambda x: ', '.join(x))

In [20]:
movies.head()

,title,overview,genre_ids,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],Drama

In [21]:
del movies['genre_ids']

In [22]:
movies.head()

,title,overview,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,Drama

### TextPreprocessing

In [23]:
title_counts = movies['title'].value_counts()

duplicate_titles = title_counts[title_counts > 1]
print(duplicate_titles)

title
Return                      13
The Killer                   4
Beauty and the Beast         4
Pinocchio                    4
The Return                   4
                            ..
Friday the 13th Part III     2
Identity Thief               2
Hangman                      2
Bad Ass                      2
100 Feet                     2
Name: count, Length: 367, dtype: int64

In [24]:
print("Shape before:", movies.shape)

Shape before: (9420, 3)

In [25]:
movies_unique = movies.drop_duplicates(subset=['title'], keep='first')

In [26]:
print("Shape after:", movies_unique.shape)

Shape after: (9002, 3)

In [27]:
9420-8930

490

#### Lowercasing the DATA

In [28]:
movies_unique['title']=movies_unique['title'].str.lower()

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\2171744383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_unique['title']=movies_unique['title'].str.lower()

In [29]:
movies_unique.head()

,title,overview,genre_names
0,the shawshank redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,the godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,the godfather part ii,In the continuing saga of the Corleone crime f...,"Drama, Crime"
3,schindler's list,The true story of how businessman Oskar Schind...,"Drama, History, War"
4,12 angry men,The defense and the prosecution have rested an...,Drama

In [30]:
movies_unique['overview']=movies_unique['overview'].str.lower()

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\2445825336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_unique['overview']=movies_unique['overview'].str.lower()

In [31]:
movies_unique['genre_names']=movies_unique['genre_names'].str.lower()

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\908386547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_unique['genre_names']=movies_unique['genre_names'].str.lower()

In [32]:
movies_unique.head()

,title,overview,genre_names
0,the shawshank redemption,imprisoned in the 1940s for the double murder ...,"drama, crime"
1,the godfather,"spanning the years 1945 to 1955, a chronicle o...","drama, crime"
2,the godfather part ii,in the continuing saga of the corleone crime f...,"drama, crime"
3,schindler's list,the true story of how businessman oskar schind...,"drama, history, war"
4,12 angry men,the defense and the prosecution have rested an...,drama

#### Remove HTML Tags

In [35]:
import re

In [36]:
def remove_html(text):
    pattern=re.compile(r'<*?>')
    return pattern.sub('',text)

In [37]:
movies_unique['overview']=movies_unique['overview'].apply(remove_html)

C:\Users\Karan Mehta\AppData\Local\Temp\ipykernel_20964\905857375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_unique['overview']=movies_unique['overview'].apply(remove_html)

#### Spelling Checkers

In [43]:
!pip install autocorrect

Collecting autocorrect
  Downloading autocorrect-2.6.1.tar.gz (622 kB)
     ---------------------------------------- 0.0/622.8 kB ? eta -:--:--
     -------------------------------------- 622.8/622.8 kB 7.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: autocorrect
  Building wheel for autocorrect (setup.py): started
  Building wheel for autocorrect (setup.py): finished with status 'done'
  Created wheel for autocorrect: filename=autocorrect-2.6.1-py3-none-any.whl size=622375 sha256=7a6c16b666a68c1486b5417c6dd0674cc07e637c40d58d4cb38955d59c61d53c
  Stored in directory: c:\users\karan mehta\appdata\local\pip\cache\wheels\2c\2b\89\33dd563fa4fa5216ea4b095313a33b7ebc7de8b6cedddfe9f3
Successfully built autocorrect
Installing collected packages: autocorrect
Successfully installed autocorrect-2.6.1

  DEPRECATION: Building 'autocorrect' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'autocorrect'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [44]:
from autocorrect import Speller

spell = Speller(lang='en')

movies_unique['overview'] = movies_unique['overview'].astype(str).apply(spell)

KeyboardInterrupt: